/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env


/vendor/
.env
composer
composer.phar

.libs/
build/
modules/
autom4te.cache/
*.lo
*.la
.deps
node_modules

acinclude.m4
aclocal.m4
config.*
configure*
Makefile*
run-tests.php
install-sh
libtool
missing
mkinstalldirs
ext/grpc/ltmain.sh
composer.lock
vendor/
*.pb.php
*_grpc_pb.php

/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/public/css/
/public/js/